*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.5s linear;
}

header{
    top: 0;
    background-color: rgb(38, 38, 49);
    width: 100%;
}

header .Menu{
    height: 0;
    color: #fff;
    overflow: hidden;
}

header .Menu.active{
    height: 8rem;
}

header .Menu .menu-title{
    width: 50rem;
    display: inline-block;
    margin: 1rem 6rem;
}

header .Menu .menu-title p{
    margin-top: 5px;
    color: rgb(64, 64, 85);
}

header .Menu .menu2-title{
    display: inline-block;
    margin: 2rem 6rem;
}

header .Menu .menu2-title ul{
    list-style: none;
    margin-top: 5px;
}

header .Menu .menu2-title ul li{
    margin-top: 2px;
}

header .Menu .menu2-title ul li a{
    color: #fff;
}

header .Albums .fa-camera{
    padding: 0 5rem;
    color: #fff;
    cursor: pointer;
    margin-top: 0;
}

header .Albums button{
    margin-left: 75%;
    font-size: 1.3rem;
    background: rgb(38, 38, 49);
    color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.2rem;
}

header .Albums button i{
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}